# Hugo build output
public/
resources/
.hugo_build.lock

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Environment files
.env
.env.local

# Node modules
node_modules/
package-lock.json


# Local Netlify folder
.netlify
