<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" {{- if eq site.Language.LanguageDirection "rtl" }} dir="rtl" {{- end }}>
  {{/* Load SEO data from data file with fallbacks - define at top level for all blocks */}}
  {{ $seo := site.Data.seo }}
  
  {{/* Check if we're on homepage and get homepage content for SEO overrides */}}
  {{ $homepagePage := false }}
  {{ if .IsHome }}
    {{ $homepageSection := .Site.GetPage "section" "homepage" }}
    {{ if $homepageSection }}
      {{ range $homepageSection.Pages }}
        {{ if and (not $homepagePage) (eq .Lang .Site.Language.Lang) }}
          {{ $homepagePage = . }}
        {{ end }}
      {{ end }}
      {{ if not $homepagePage }}
        {{ range $homepageSection.Pages }}
          {{ if not $homepagePage }}
            {{ $homepagePage = . }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  {{/* Get meta description - prioritize homepage, then data file, then site params */}}
  {{ $siteDescription := "" }}
  {{ if and $homepagePage $homepagePage.Params.meta_description }}
    {{ $siteDescription = $homepagePage.Params.meta_description }}
  {{ else }}
    {{ $siteDescription = $seo.site_description | default .Site.Params.description | default "" }}
  {{ end }}
  
  {{/* Get author - prioritize homepage, then data file, then site params */}}
  {{ $author := "" }}
  {{ if and $homepagePage $homepagePage.Params.author }}
    {{ $author = $homepagePage.Params.author }}
  {{ else }}
    {{ $author = $seo.author | default .Site.Params.author | default "" }}
  {{ end }}
  
  {{ $siteTitle := $seo.site_title | default .Site.Title }}
  {{/* Get keywords - prioritize homepage, then data file */}}
  {{ $keywords := "" }}
  {{ if and $homepagePage $homepagePage.Params.keywords }}
    {{ $keywords = $homepagePage.Params.keywords }}
  {{ else }}
    {{ $keywords = $seo.keywords | default "" }}
  {{ end }}
  {{ $ogImage := $seo.og_image | default .Site.Params.featured_image | default "" }}
  {{ $ogType := $seo.og_type | default "website" }}
  {{ $twitterCard := $seo.twitter_card | default "summary" }}
  {{ $twitterSite := $seo.twitter_site | default "" }}
  {{ $twitterCreator := $seo.twitter_creator | default "" }}
  {{ $googleVerification := $seo.google_site_verification | default "" }}
  
  {{/* Get Open Graph values from homepage if available */}}
  {{ $homepageOgTitle := "" }}
  {{ $homepageOgDescription := "" }}
  {{ $homepageOgSiteName := "" }}
  {{ if and $homepagePage $homepagePage.Params.open_graph }}
    {{ if $homepagePage.Params.open_graph.og_title }}
      {{ $homepageOgTitle = $homepagePage.Params.open_graph.og_title }}
    {{ end }}
    {{ if $homepagePage.Params.open_graph.og_description }}
      {{ $homepageOgDescription = $homepagePage.Params.open_graph.og_description }}
    {{ end }}
    {{ if $homepagePage.Params.open_graph.og_site_name }}
      {{ $homepageOgSiteName = $homepagePage.Params.open_graph.og_site_name }}
    {{ end }}
  {{ end }}
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    {{/* Use .Site.Title in title block to avoid scope issues, $siteTitle for meta tags */}}
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ if .IsHome }}{{ $siteDescription }}{{ else }}{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ $siteDescription }}{{ end }}{{ end }}{{ end }}">
    {{ if $keywords }}
      <meta name="keywords" content="{{ $keywords }}">
    {{ end }}
    {{ hugo.Generator }}
    {{ $production := hugo.IsProduction }}
    {{ $public := not .Params.private }}
    {{ if and $production $public }}
      <meta name="robots" content="index, follow">
    {{ else }}
      <meta name="robots" content="noindex, nofollow">
    {{ end }}
    {{ if $googleVerification }}
      <meta name="google-site-verification" content="{{ $googleVerification }}">
    {{ end }}
    {{ $pageAuthor := .Params.author | default $author }}
    {{ if $pageAuthor }}
      {{- $authorName := $pageAuthor -}}
      {{- if reflect.IsSlice $pageAuthor -}}
        {{- $authorName = collections.Delimit $pageAuthor ", " | transform.Plainify -}}
      {{- end -}}
      <meta name="author" content="{{ $authorName }}">
    {{ end }}

    {{ partials.Include "site-style.html" . }}
    {{ partials.Include "site-scripts.html" . }}

    {{ block "favicon" . }}
      {{ partials.IncludeCached "site-favicon.html" . }}
    {{ end }}

    {{ if .OutputFormats.Get "RSS" }}
    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $siteTitle }}" />
      <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $siteTitle }}" />
      {{ end }}
    {{ end }}

    {{ if .Params.canonicalUrl }}
      <link rel="canonical" href="{{ .Params.canonicalUrl }}">
    {{ else }}
      <link rel="canonical" href="{{ .Permalink }}">
    {{ end }}

    {{/* Enhanced Open Graph tags */}}
    {{ $ogTitle := "" }}
    {{ if $homepageOgTitle }}
      {{ $ogTitle = $homepageOgTitle }}
    {{ else }}
      {{ $ogTitle = .Title | default $siteTitle }}
    {{ end }}
    {{ $ogDescription := "" }}
    {{ if $homepageOgDescription }}
      {{ $ogDescription = $homepageOgDescription }}
    {{ else }}
      {{ $ogDescription = .Description | default .Summary | default $siteDescription }}
    {{ end }}
    {{ $ogUrl := .Permalink | absURL }}
    {{ $ogImageUrl := "" }}
    {{ if .Params.image }}
      {{ $ogImageUrl = (.Params.image | absURL) }}
    {{ else if $ogImage }}
      {{ $ogImageUrl = ($ogImage | absURL) }}
    {{ end }}
    
    <meta property="og:title" content="{{ $ogTitle }}">
    <meta property="og:description" content="{{ $ogDescription }}">
    <meta property="og:type" content="{{ $ogType }}">
    <meta property="og:url" content="{{ $ogUrl }}">
    {{ if $ogImageUrl }}
      <meta property="og:image" content="{{ $ogImageUrl }}">
    {{ end }}
    {{ $ogSiteName := $siteTitle }}
    {{ if $homepageOgSiteName }}
      {{ $ogSiteName = $homepageOgSiteName }}
    {{ end }}
    <meta property="og:site_name" content="{{ $ogSiteName }}">
    
    {{/* Twitter Card tags */}}
    <meta name="twitter:card" content="{{ $twitterCard }}">
    <meta name="twitter:title" content="{{ $ogTitle }}">
    <meta name="twitter:description" content="{{ $ogDescription }}">
    {{ if $ogImageUrl }}
      <meta name="twitter:image" content="{{ $ogImageUrl }}">
    {{ end }}
    {{ if $twitterSite }}
      <meta name="twitter:site" content="@{{ $twitterSite }}">
    {{ end }}
    {{ if $twitterCreator }}
      <meta name="twitter:creator" content="@{{ $twitterCreator }}">
    {{ end }}

    {{/* NOTE: These Hugo Internal Templates can be found starting at https://github.com/gohugoio/hugo/tree/master/tpl/tplimpl/embedded/templates */}}
    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/schema.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}

    {{ if hugo.IsProduction }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
	{{ block "head" . }}{{ partials.Include "head-additions.html" . }}{{ end }}
  </head>

  {{- $environment := hugo.Environment | compare.Default "production" -}}
  <body class="ma0 {{ $.Param "body_classes"  | compare.Default "avenir bg-white"}} {{ $environment }}">

    {{ block "header" . }}{{ partials.Include "site-header.html" .}}{{ end }}
    <main class="pb0" role="main" style="min-height: 100vh;">
      {{ block "main" . }}{{ end }}
    </main>
    {{/* Footer removed - no longer displayed */}}
  </body>
</html>

