{{/* Include Tachyons CSS for utility classes */}}
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">

{{/* Include Google Fonts - Inter */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

{{/* Custom CSS can be added via site params if needed */}}
{{ range site.Params.custom_css }}
  <link rel="stylesheet" href="{{ urls.RelURL (.) }}">
{{ end }}

